*.bak
*.swp
*.swo
*.pyc
*.elf
*.o
*.gch
*.a
*.zargo~
*~
*.xmi~
*nohup.out
*.lvimrc
dev/*
.bob-*
.venv*
.bob*
tags
.project
.pydevproject
.settings
.dat
# common generated
context.*.d/root.d.tar
*farm-*.txt
# particular generated
